# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
data/data/
lightning_logs/
# Unit test / coverage reports
.tox/

# Environments
.env
.venv
env/
venv/
.idea/
